@use '../eurobasket-tokens' as tokens;
@use '@/styles/colors' as colors;
@use '@/styles/variables' as vars;

.eurobasket-body {
  &__actions {
    display: flex;
    justify-content: space-between;
    gap: tokens.$eurobasket-gap;
    margin-bottom: 24px;
    padding-top: 20px;
  }

  &__actions-button {
    padding: 8px 12px;
    background-color: colors.$brand-eurobasket-orange;
    color: colors.$white;
    border: none;
    border-radius: vars.$base-scoreboard-radius;
    cursor: pointer;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  &__form {
    margin-bottom: 24px;
    padding: 16px;
    background-color: colors.$brand-eurobasket-green-dark;
    border-radius: vars.$base-scoreboard-radius;
  }
}
