@use 'fonts' as fonts;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: fonts.$font-inter;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}

.app-shell {
  max-width: 1200px;
  margin: 0 auto;
}
