@use '../_wimbledon-tokens' as tokens;
@use '@/styles/colors' as colors;

.wimbledon-table {
  padding: 20px;

  &__icon--win {
    color: colors.$green-success;
  }

  &__icon--loss {
    color: colors.$red-error;
  }
}
