@use '../_wimbledon-tokens' as tokens;
@use '../../../../../styles/colors' as colors;
@use '../../../../../styles/variables' as vars;

.wimbledon-body {
  &__actions {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: tokens.$wimbledon-gap;
  }

  &__actions-button {
    background-color: colors.$brand-wimbledon-green;
    color: colors.$white;
    padding: 12px 14px;
    border-radius: vars.$base-scoreboard-radius;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 0.9;
    }

    &--secondary {
      background-color: colors.$brand-wimbledon-purple;
    }
  }

  &__form {
    margin: 0 20px 20px;
    padding: 16px;
    background-color: colors.$gray-150;
    border-radius: vars.$base-scoreboard-radius;
  }
}
