@use '../../../../../styles/colors' as colors;

.wimbledon-header {
  background-color: colors.$brand-wimbledon-green;
  padding: 16px 20px;

  &__title {
    margin: 0;
    color: colors.$white;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
