@use '../../../../../styles/colors' as colors;

.premier-league-header {
  background-color: colors.$brand-premier-purple;
  padding: 16px 20px;

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: colors.$white;
  }
}
