$eurobasket-bg: #002F26;
$eurobasket-primary: #FF6900;
$eurobasket-text: #FFFFFF;
$eurobasket-text-secondary: #d6d6d6;
$eurobasket-match-border: #00231e;
$eurobasket-radius: 8px;
$eurobasket-gap: 16px 20px;
