@use '../../../../styles/mixins' as mixins;
@use '../../../../styles/fonts' as fonts;
@use './eurobasket-tokens' as tokens;

.eurobasket-scoreboard {
  @include mixins.base-scoreboard;
  font-family: fonts.$font-eurobasket;
  background-color: tokens.$eurobasket-bg;
  padding: 16px;
  color: tokens.$eurobasket-text;
}
