@use '@/styles/mixins' as mixins;
@use '@/styles/fonts' as fonts;
@use '@/styles/colors' as colors;

.eurobasket-scoreboard {
  @include mixins.base-scoreboard;
  font-family: fonts.$font-eurobasket;
  background-color: colors.$brand-eurobasket-green;
  padding: 16px;
  color: colors.$white;
}
