$premier-header-bg: #37003C;
$premier-primary: #2563EB;
$premier-section-bg: #F9FAFB;
$premier-section-bg-secondary: #EFEFEF;
$premier-border: #d3d5d6;
$premier-text: #000;
$premier-placeholder: #6c757d;
$premier-white: #ffffff;
$premier-radius: 8px;
$premier-gap: 12px;
